<div class="row justify-content-md-center" style="margin-top: 10rem">
  <div class="col-sm-6">
    <h3>Login</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          id="form2Example1"
          class="form-control"
          ngModel
          name="username"
        />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="form2Example2"
          class="form-control"
          ngModel
          name="password"
        />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign in
      </button>

      <!-- Register buttons -->
    </form>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-6" style="text-align: center; border: 1px solid blue">
    <button
      class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
      (click)="loginViaGoogle()"
    >
      <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
      Signup Using Google
    </button>
  </div>
</div>
